json/repeater.json
{
    "id": "c3d6cda7c6a9224e",
    "type": "subflow",
    "name": "Repeater",
    "info": "Sends the value by change or after a period of time.\r\n\r\nThe signals are filtered by the change for each topic.\r\nThe value is sent only if it has changed. The sending is repeated after a specified period of time.\r\n\r\nIf `msg.force` = **true** is received, the values are sent without filtering and delay.\r\n\r\n\r\n### Configuration\r\n\r\n**Monitoring availability of input signals**\r\n\r\n - **true**\r\n \r\nIf no new signals are received at the input within the specified time, the signal resending stops. It works separately for each topic.\r\n\r\n - **false**\r\n\r\nResending is performed even if no new signals have been received.\r\n\r\n`Default:` **true**\r\n\r\n---\r\n**Delay hours**\r\n\r\nDelay in hours _(0-47)_\r\n\r\n`Default:` **0**\r\n\r\n---\r\n**Delay minutes**\r\n\r\nDelay in minutes _(0-59)_\r\n\r\n`Default:` **10**\r\n\r\n---\r\n**Delay seconds**\r\n\r\nDelay in seconds _(0-59)_\r\n\r\n`Default:` **0**",
    "category": "Smart add",
    "in": [
        {
            "x": 60,
            "y": 80,
            "wires": [
                {
                    "id": "398de719a581bca5"
                },
                {
                    "id": "5cfcdadf5e4be80a"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 760,
            "y": 80,
            "wires": [
                {
                    "id": "e22e5e6e3456265e",
                    "port": 0
                }
            ]
        }
    ],
    "env": [
        {
            "name": "FILTER",
            "type": "bool",
            "value": "true",
            "ui": {
                "icon": "font-awesome/fa-filter",
                "label": {
                    "ru": "Monitoring availability of input signals"
                },
                "type": "checkbox"
            }
        },
        {
            "name": "DELAY_HOUR",
            "type": "num",
            "value": "0",
            "ui": {
                "icon": "font-awesome/fa-clock-o",
                "label": {
                    "ru": "Delay hours"
                },
                "type": "spinner",
                "opts": {
                    "min": 0,
                    "max": 48
                }
            }
        },
        {
            "name": "DELAY_MIN",
            "type": "num",
            "value": "10",
            "ui": {
                "icon": "font-awesome/fa-clock-o",
                "label": {
                    "ru": "Delay minutes"
                },
                "type": "spinner",
                "opts": {
                    "min": 0,
                    "max": 59
                }
            }
        },
        {
            "name": "DELAY_SEC",
            "type": "num",
            "value": "0",
            "ui": {
                "icon": "font-awesome/fa-clock-o",
                "label": {
                    "ru": "Delay seconds"
                },
                "type": "spinner",
                "opts": {
                    "min": 0,
                    "max": 59
                }
            }
        }
    ],
    "meta": {
        "type": "Repeater",
        "version": "1.3.2",
        "author": "Anton Shefov <a.shefov@gmail.com>",
        "desc": "Sends the value by change or after a period of time",
        "license": "MIT"
    },
    "color": "#7FC7FF",
    "icon": "font-awesome/fa-clock-o",
    "status": {
        "x": 760,
        "y": 300,
        "wires": [
            {
                "id": "de0d809a37cb6c7c",
                "port": 0
            },
            {
                "id": "47273859a3230650",
                "port": 0
            }
        ]
    },
    "flow": [
        {
            "id": "e22e5e6e3456265e",
            "type": "trigger",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "op1": "",
            "op2": "0",
            "op1type": "pay",
            "op2type": "str",
            "duration": "-1",
            "extend": false,
            "overrideDelay": true,
            "units": "hr",
            "reset": "",
            "bytopic": "topic",
            "topic": "topic",
            "outputs": 1,
            "x": 555,
            "y": 80,
            "wires": [
                []
            ],
            "l": false
        },
        {
            "id": "23523dd8d65b3f20",
            "type": "rbe",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "func": "rbe",
            "gap": "",
            "start": "",
            "inout": "out",
            "septopics": true,
            "property": "payload",
            "topi": "topic",
            "x": 355,
            "y": 140,
            "wires": [
                [
                    "043ee85986511077"
                ]
            ],
            "l": false
        },
        {
            "id": "398de719a581bca5",
            "type": "switch",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "property": "force",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "true"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 155,
            "y": 80,
            "wires": [
                [
                    "043ee85986511077"
                ],
                [
                    "23523dd8d65b3f20"
                ]
            ],
            "l": false
        },
        {
            "id": "2543caf7aa3aeb58",
            "type": "trigger",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "op1": "",
            "op2": "",
            "op1type": "nul",
            "op2type": "date",
            "duration": "1",
            "extend": true,
            "overrideDelay": true,
            "units": "hr",
            "reset": "",
            "bytopic": "topic",
            "topic": "topic",
            "outputs": 1,
            "x": 355,
            "y": 220,
            "wires": [
                [
                    "f4818575bc96ae0e"
                ]
            ],
            "l": false
        },
        {
            "id": "f4818575bc96ae0e",
            "type": "change",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "reset",
                    "pt": "msg",
                    "to": "true",
                    "tot": "bool"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 455,
            "y": 220,
            "wires": [
                [
                    "e22e5e6e3456265e",
                    "23523dd8d65b3f20"
                ]
            ],
            "l": false
        },
        {
            "id": "5cfcdadf5e4be80a",
            "type": "switch",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "property": "FILTER",
            "propertyType": "env",
            "rules": [
                {
                    "t": "true"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 1,
            "x": 155,
            "y": 220,
            "wires": [
                [
                    "00ea47e53a65ab17"
                ]
            ],
            "l": false
        },
        {
            "id": "043ee85986511077",
            "type": "change",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "delay",
                    "pt": "msg",
                    "to": "($env('DELAY_HOUR') * 3600000) + ($env('DELAY_MIN') * 60000) + ($env('DELAY_SEC') * 1000)",
                    "tot": "jsonata"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 455,
            "y": 80,
            "wires": [
                [
                    "e22e5e6e3456265e"
                ]
            ],
            "l": false
        },
        {
            "id": "00ea47e53a65ab17",
            "type": "change",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "delay",
                    "pt": "msg",
                    "to": "($env('DELAY_HOUR') * 3600000) + ($env('DELAY_MIN') * 60000) + ($env('DELAY_SEC') * 1000) - 100",
                    "tot": "jsonata"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 255,
            "y": 220,
            "wires": [
                [
                    "2543caf7aa3aeb58"
                ]
            ],
            "l": false
        },
        {
            "id": "4f967b7c22ead84b",
            "type": "status",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "scope": [
                "e22e5e6e3456265e"
            ],
            "x": 120,
            "y": 300,
            "wires": [
                [
                    "ac3cc8d5c66ea687"
                ]
            ]
        },
        {
            "id": "ac3cc8d5c66ea687",
            "type": "change",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "rules": [
                {
                    "t": "delete",
                    "p": "status.source",
                    "pt": "msg"
                },
                {
                    "t": "set",
                    "p": "payload",
                    "pt": "msg",
                    "to": "status",
                    "tot": "msg",
                    "dc": true
                },
                {
                    "t": "delete",
                    "p": "status",
                    "pt": "msg"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 255,
            "y": 300,
            "wires": [
                [
                    "1d42152448281917"
                ]
            ],
            "l": false
        },
        {
            "id": "de0d809a37cb6c7c",
            "type": "switch",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "property": "payload.text",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "nempty"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 555,
            "y": 300,
            "wires": [
                [],
                [
                    "47273859a3230650"
                ]
            ],
            "l": false
        },
        {
            "id": "1d42152448281917",
            "type": "switch",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "property": "payload.fill",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "nempty"
                },
                {
                    "t": "else"
                }
            ],
            "checkall": "false",
            "repair": false,
            "outputs": 2,
            "x": 355,
            "y": 300,
            "wires": [
                [
                    "de0d809a37cb6c7c"
                ],
                [
                    "42ffbbdea8ba214b"
                ]
            ],
            "l": false
        },
        {
            "id": "47273859a3230650",
            "type": "change",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload.text",
                    "pt": "msg",
                    "to": "1",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 655,
            "y": 340,
            "wires": [
                []
            ],
            "l": false
        },
        {
            "id": "42ffbbdea8ba214b",
            "type": "change",
            "z": "c3d6cda7c6a9224e",
            "name": "",
            "rules": [
                {
                    "t": "set",
                    "p": "payload.fill",
                    "pt": "msg",
                    "to": "grey",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "payload.shape",
                    "pt": "msg",
                    "to": "ring",
                    "tot": "str"
                },
                {
                    "t": "set",
                    "p": "payload.text",
                    "pt": "msg",
                    "to": "waiting",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 455,
            "y": 340,
            "wires": [
                [
                    "de0d809a37cb6c7c"
                ]
            ],
            "l": false
        }
    ]
}